{
  "orivonApiVersion": 0,
  "id": "{{id}}.orivon-port",
  "name": "{{name}}",
  "version": "0.0.0",
  "entry": "index.html",
  "consentGranularity": "all-or-nothing",
  "capabilities": {
    "net": {
      "https": {
        "connect": []
      }
    }
  }
}
